*{
	color: #ddddd
}
.bg{
	background: url('../images/marthaland.jpg.jpg') no-repeat;
	width: 100%;
	height: 100vh;
    background-size: cover;
}
.form-container{
	background-color: white;
	border:1px solid #fff;
	padding:50px 60px;
	margin-top: 20vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,2);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,2);
	-box-shadow: -1px 4px 26px 11px rgba(0,0,0,2);
}

.marthalogo{
    height: 100%;
    width: 100%;
    
}

.modal-title{
    color: black;
}

.firstN{
    color: black;
}

.lastN{
    color: black;
}

.emailAdd{
    color: black;
}

.mobNum{
    color: black;
}

.pos{
    color: black;
}

.pass{
    color: black;
}

.confPass{
    color: black;
}