

.modal-title{
    color: black;
}

.firstN{
    color: black;
}

.lastN{
    color: black;
}

.emailAdd{
    color: black;
}

.mobNum{
    color: black;
}

.pos{
    color: black;
}

.pass{
    color: black;
}

.confPass{
    color: black;
}

.checkbox-inline{
    color: black;
}